<div class="container">

  <h1>Welcome to Bitly</h1>


  <form action="/urls" method="POST">
    Shorten a URL here!
    <br>
    <label for="url"> url</label>
    <input type="text" name="long_url"><br>
    <input type="submit" value="Submit">
  </form>

  <ul>
    <%if @urls%>
      <% @urls.each do |url|%> <br>
       <%= url.name%><br> 
      <a href="<%= "http://127.0.0.1:9393/#{url.extension}" %>"><%= "http://bit.ly/#{url.extension}"%></a><br>
      number of clicks <%=url.click_count%>
      <% end %>
    <% end %>
  </ul>

  

</div>
